In [ ]:
import csv 
import os 
import pandas as pd

In [ ]:
filenames = os.listdir()
dr_oz_files = []
for filename in filenames:
  if filename.endswith("DR.ÖZ - Kopya.csv"):
     dr_oz_files.append(filename)
m_freeman_files = []
for filename in filenames:
  if filename.endswith("M.FREEMAN - Kopya.csv"):
    m_freeman_files.append(filename)
r_scott_files = []
for filename in filenames:
  if filename.endswith("R.SCOTT - Kopya.csv"):
    r_scott_files.append(filename)

In [ ]:
m_freeman_index = ([*range(5,42)])
m_freeman_index.append(1)
m_freeman_index.append(2)
m_freeman_index

[5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 1,
 2]

In [ ]:
file_name_freeman = 'D{}-M.FREEMAN - Kopya.csv'
df_list_freeman = []
for i in m_freeman_index:
    df_list_freeman.append(pd.read_csv(file_name_freeman.format(i)))
df_freeman = pd.concat(df_list_freeman)

In [ ]:
df_freeman

    contempt  disgust  fear  happiness  neutral  sadness  surprise
0      0.000      0.0   0.0        0.0    0.976    0.024       0.0
1      0.000      0.0   0.0        0.0    0.986    0.014       0.0
2      0.000      0.0   0.0        0.0    0.992    0.008       0.0
3      0.000      0.0   0.0        0.0    0.996    0.004       0.0
4      0.000      0.0   0.0        0.0    0.989    0.011       0.0
..       ...      ...   ...        ...      ...      ...       ...
87     0.002      0.0   0.0        0.0    0.793    0.206       0.0
88     0.002      0.0   0.0        0.0    0.913    0.085       0.0
89     0.005      0.0   0.0        0.0    0.973    0.021       0.0
90     0.003      0.0   0.0        0.0    0.962    0.034       0.0
91     0.003      0.0   0.0        0.0    0.977    0.020       0.0

[3528 rows x 7 columns]

In [ ]:
r_scott_index = m_freeman_index

In [ ]:
r_scott_index

[5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 41,
 1,
 2]

In [ ]:
file_name_scott = 'D{}-R.SCOTT - Kopya.csv'
df_list_scott = []
for i in r_scott_index:
    df_list_scott.append(pd.read_csv(file_name_scott.format(i)))
df_scott = pd.concat(df_list_scott)

In [ ]:
df_scott

     contempt  disgust  fear  happiness  neutral  sadness  surprise
0       0.000      0.0   0.0        0.0    0.965    0.035       0.0
1       0.001      0.0   0.0        0.0    0.993    0.006       0.0
2       0.000      0.0   0.0        0.0    0.991    0.008       0.0
3       0.000      0.0   0.0        0.0    0.995    0.004       0.0
4       0.000      0.0   0.0        0.0    0.977    0.023       0.0
..        ...      ...   ...        ...      ...      ...       ...
117     0.000      0.0   0.0        0.0    0.945    0.055       0.0
118     0.000      0.0   0.0        0.0    0.947    0.053       0.0
119     0.000      0.0   0.0        0.0    0.973    0.026       0.0
120     0.000      0.0   0.0        0.0    0.988    0.011       0.0
121     0.000      0.0   0.0        0.0    0.911    0.089       0.0

[4545 rows x 7 columns]

In [ ]:
dr_oz_index = m_freeman_index

In [ ]:
file_name_oz = 'D{}-DR.ÖZ - Kopya.csv'
df_list_oz = []
for i in dr_oz_index:
    df_list_oz.append(pd.read_csv(file_name_oz.format(i)))
df_oz = pd.concat(df_list_oz)

In [ ]:
df_oz

     contempt  disgust  fear  happiness  neutral  sadness  surprise
0       0.000      0.0   0.0        0.0    0.996    0.003       0.0
1       0.000      0.0   0.0        0.0    0.997    0.002       0.0
2       0.000      0.0   0.0        0.0    0.999    0.001       0.0
3       0.000      0.0   0.0        0.0    0.998    0.001       0.0
4       0.000      0.0   0.0        0.0    0.999    0.001       0.0
..        ...      ...   ...        ...      ...      ...       ...
176     0.000      0.0   0.0        0.0    0.596    0.403       0.0
177     0.004      0.0   0.0        0.0    0.893    0.102       0.0
178     0.003      0.0   0.0        0.0    0.951    0.045       0.0
179     0.003      0.0   0.0        0.0    0.897    0.100       0.0
180     0.001      0.0   0.0        0.0    0.879    0.119       0.0

[6810 rows x 7 columns]

In [ ]:
writer = pd.ExcelWriter('result_v5.xlsx')

In [ ]:
df_freeman["contempt"].to_excel(writer, sheet_name='contempt',index=False,header=False)
df_freeman["disgust"].to_excel(writer, sheet_name='disgust',index=False,header=False)
df_freeman["fear"].to_excel(writer, sheet_name='fear',index=False,header=False)
df_freeman["happiness"].to_excel(writer, sheet_name='happiness',index=False,header=False)
df_freeman["neutral"].to_excel(writer, sheet_name='neutral',index=False,header=False)
df_freeman["sadness"].to_excel(writer, sheet_name='sadness',index=False,header=False)
df_freeman["surprise"].to_excel(writer, sheet_name='surprise',index=False,header=False)

In [ ]:
writer.save()

In [ ]:
import openpyxl

def add_column(sheet_name, column):
    ws = wb[sheet_name]
    new_column = ws.max_column + 1

    for rowy, value in enumerate(column, start=1):
        ws.cell(row=rowy, column=new_column, value=value)

In [ ]:
wb = openpyxl.load_workbook('/content/result_v5.xlsx')

In [ ]:
add_column('contempt', df_oz["contempt"])
add_column('disgust', df_oz['disgust'])
add_column('fear', df_oz['fear'])
add_column('happiness', df_oz['happiness'])
add_column('neutral', df_oz['neutral'])
add_column('sadness', df_oz['sadness'])
add_column('surprise', df_oz['surprise'])

In [ ]:
add_column('contempt', df_scott["contempt"])
add_column('disgust', df_scott['disgust'])
add_column('fear', df_scott['fear'])
add_column('happiness', df_scott['happiness'])
add_column('neutral', df_scott['neutral'])
add_column('sadness', df_scott['sadness'])
add_column('surprise', df_scott['surprise'])

In [ ]:
wb.save('output_v5.xlsx')